name: Deploy Backend to Heroku

on:
  push:
    branches: [main]
    paths:
      - 'apps/gengar/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          appdir: apps/gengar

      - name: Run migrations
        run: heroku run --app ${{ secrets.HEROKU_APP_NAME }} yarn migration:run
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
